@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
* {
  box-sizing: border-box;
}

/* body {
  background: #ededed !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
} */

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: "Raleway", Semi-bold 600;
  font-style: Semi-bold 600;
  color: aliceblue
}


  body, html, .app, #root, .wrapper {
  width: 100%;
  height: 100%;
}



.navbar-light {
  background: linear-gradient(-45deg, #8fade0,  #f5eeeb, #417c91, #c0f4f4);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  box-shadow: 0px 14px 80px rgba(34,35,58,0.2);
  opacity: 80%;
}

.wrapper {
  max-height: 80px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.inner {
  width: 450px;
  margin: auto;
  background: linear-gradient(-45deg, #8fade0,  #f5eeeb, #417c91, #c0f4f4);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  opacity: 80%;
}




/* .wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
} */


#form-text{
  color:white;
  font-family: Fira Sans;
  font-style: sans-serif;

}



#logoNav {
  content: url('./assets/index-nav.png');
  /* box-shadow: 0 5px 10px rgba(182, 181, 181, 0.8); */
  
}












